<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>__METHOD__</string>
        <key>signingStyle</key>
        <string>manual</string>
        <key>signingCertificate</key>
        <string>__CERT_ID__</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>__APP_BUNDLE_ID__</key>
            <string>__PROFILE_UUID__</string>
        </dict>
        <key>teamID</key>
        <string>__TEAM_ID__</string>
    </dict>
</plist>
